<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="/images/whitokkr.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/slideshow.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/warden.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/noti.css">
    <link rel="stylesheet" href="/css/navuu.css">
    <link rel="stylesheet" href="/css/mess.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Rubik+Moonrocks&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="all" style="background-color:  rgba(255, 255, 255, 0.89); width: 100vw; overflow: hidden;">
        <div class="jip">
            <div class="nav">
                <div class="lefto">
                    <div class="up">
                        <h1 class="H1">CHAKHADHAR BHAWAN</h1>
                    </div>
                    <div class="down">
                        <ul class="mrzio">
                            <li><a href="/" class="iteml">Home</a></li>
                            <li><a href="/chatroom" class="iteml">Chatroom</a></li>
                           
                            <li class="vb"><a href="/mess" class="iteml" style="border-bottom: 2px solid rgb(49, 49, 49);">Mess & Food</a></li>
                            
                            <li><a href="/facilities" class="iteml">Facilities</a></li>
                            
                             <li><a href="/complaint" class="iteml">Complaint Box</a></li>


                            <li><a href="/superfood" class="iteml" class="super"
                                    style=" border-left: 1px solid rgb(58, 58, 58); "> &nbsp;&nbsp;&nbsp;Superfoods of
                                    India</a></li>
                        </ul>
                    </div>
                </div>
                <div class="righto"> <button type="button" class="btn btn-outline-success" id="authBtn">Login</button>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="  position: sticky ;
    top: 0px; z-index: 1000;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="  font-family: Raleway Dots; color: green;" ;>Chakhardhar
                    Bhawan</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/chatroom">Chatroom</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/mess" >Mess & Food</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/facilities" >Facilities</a>
                        </li>
                  <li class="nav-item">
                            <a class="nav-link" href="/complaint">Complaint Box</a>
                        </li>    
                        <li class="nav-item">
                            <a class="nav-link" href="/superfood">Superfoods of India </a>
                        </li>
                       
                        
                    </ul>
                    <div class="d-flex">
                        <button type="button" class="btn btn-outline-success" id="authBtni">Login</button>
                    </div>
                </div>
            </div>
        </nav>

<div class="messintro">
<div class="platephoto"><img src="/images/plate.jpeg" alt="" class="platephoto"></div>
<div class="platepage">
    <div class="headplate">
        <h1 class="H11">Mess & Food</h1>
        <div class="underline"></div>
    </div>
    <p class="platepnna" style="    font-family: 'Raleway', sans-serif;">Mess and food often go hand in hand, revealing much about daily life and human behavior. When people cook or eat, small spills, scattered crumbs, and unwashed dishes naturally appear, showing that food is meant to be enjoyed, not feared. A messy kitchen can reflect creativity and comfort, where recipes are adjusted, flavors are tested, and meals are made with care rather than perfection. At the same time, too much mess can cause stress and discomfort, reminding us of the need for balance. Cleanliness helps maintain health, but a little disorder around food highlights warmth, shared moments, and the joy of eating together.
    </p>   
    </div>
        </div>

<div class="rebatef">
<div class="form-container">
  <h1 class="h1">Mess Rebate Application</h1>
  <p class="subtitle">
    Fill this form before going home to apply for mess rebate
  </p>

  <form action="/add-entry" method="POST">

    <div class="form-group">
      <label for="name">Student Name</label>
      <input type="text" id="name" name="name" required>
    </div>

    <div class="form-group">
      <label for="rollnumber">Roll Number</label>
      <input type="text" id="rollnumber" name="rollnumber" required>
    </div>

    <div class="form-group">
      <label for="cntcnumber">Contact Number</label>
      <input type="text" id="cntcnumber" name="cntcnumber" required>
    </div>

    <div class="form-group">
      <label for="place">Place Visited</label>
      <input type="text" id="place" name="place" required>
    </div>

    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" name="startDate" required>
    </div>

    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="date" id="endDate" name="endDate" required>
    </div>

    <div class="form-group full-width">
      <label for="totalDays">Total Days Away</label>
      <input type="number" id="totalDays" name="totalDays" required>
    </div>

    <div class="form-group full-width">
      <button class="btnuu" type="submit">Submit Rebate Request</button>
    </div>

  </form>
</div>
</div>

<div class="menumess" style="margin: 0;padding: 0; margin-bottom: 23px;">

    <img src="/images/messmenu.png" alt="" style="width: 90vw; margin-right: 5vw; margin-left: 5vw;">
</div>
    
<footer class="footer reveal" style="background-color: rgb(46, 46, 46); color: grey; margin-top: 12px;">
      <div class="footer-container">

        <!-- ABOUT US -->
        <div class="footer-col">
          <h3 style="margin-top: 12px; text-decoration: underline; color: grey;">ABOUT US</h3>
          <p>Official Website of Hostel 3, NIT KKR
            <br>
            Developed by Harish Puhaniya
          </p>

          <ul class="contact">
            <li><a href="https://maps.app.goo.gl/zq5dKq15gZLvgG4i7" style="color: grey;">📍 Hostel 3, NIT KKR, Thanesor,
                136119</a></li>
            <li>📞 +91 12345-67890</li>
            <li>✉️ h3@nitkkr.ac.in</li>
          </ul>

          <div class="social">
            <a href="#">🐦</a>
            <a href="#">📘</a>
            <a href="#">📺</a>
            <a href="#">📸</a>
            <a href="#">💼</a>
          </div>
        </div>

        <!-- USEFUL LINK 1 -->
        <div class="footer-col">
          <h3 style="margin-top: 12px; text-decoration: underline; color: grey;">USEFUL LINK</h3>
          <ul>
            <li><a href="/" style="color: grey;">Home</a></li>
            <li><a href="/" style="color: grey;">About Us</a></li>
            <li><a href="/facilities" style="color: grey;">Sports</a></li>
            <li><a href="/cult" style="color: grey;">Cult</a></li>
          
            <li><a href="/mess" style="color: grey;">Mess</a></li>
            
          </ul>
        </div>

        <!-- USEFUL LINK 2 -->
     

      </div>
    </footer>
   
    </div>



    <script>
        fetch("/auth-status")
            .then(res => res.json())
            .then(data => {
                const btn = document.getElementById("authBtn");
                if (data.loggedIn) {
                    btn.textContent = "PRO";
                    btn.onclick = () => window.location.href = "/pro";
                } else {
                    btn.textContent = "login";
                    btn.style.textAlign = "center";
                    btn.onclick = () => window.location.href = "/login";
                }
            });
        fetch("/auth-status")
            .then(res => res.json())
            .then(data => {
                const btni = document.getElementById("authBtni");
                if (data.loggedIn) {
                    btni.textContent = "PRO";
                    btni.onclick = () => window.location.href = "/pro";
                } else {
                    btni.textContent = "login";
                    btni.style.textAlign = "center";
                    btni.onclick = () => window.location.href = "/login";
                }
            });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/js/script1.js"></script>
</body>

</html>